/*
.keyframes(~"spin, from{ transform: rotate(0deg); } to{ transform: rotate(360deg); }");
.keyframes(~"lift, 0%{ transform: rotate(0deg); } 25%{ transform: rotate(-45deg); } 100%{ transform: rotate(-45deg); }");
.keyframes(~"wiggle, 0%{ transform: rotate(-45deg); } 50%{ transform: rotate(0deg); } 100%{ transform: rotate(-45deg); }");
.keyframes(~"settle, 0%{ transform: rotate(-45deg); } 100%{ transform: rotate(-0deg); }");
*/
/* hardcode keyframes due to bug in lesshat mixin */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lift {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes lift {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@-o-keyframes lift {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(-45deg);
  }
}
@keyframes lift {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(-45deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@-o-keyframes wiggle {
  0% {
    -o-transform: rotate(-45deg);
  }
  50% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-45deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes settle {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes settle {
  0% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes settle {
  0% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes settle {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
div.wheel {
  margin: 5em auto;
  width: 40em;
  position: relative;
  padding: 10px;
}
div.wheel.spin .frame {
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -o-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -moz-animation-duration: 4000ms;
  -o-animation-duration: 4000ms;
  animation-duration: 4000ms;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  /* easeInOutExpo */
}
div.wheel.spin .pointer {
  -webkit-animation-name: lift, wiggle, settle;
  -moz-animation-name: lift, wiggle, settle;
  -o-animation-name: lift, wiggle, settle;
  animation-name: lift, wiggle, settle;
  -webkit-animation-delay: 0s, 2000ms, 3500ms;
  -moz-animation-delay: 0s, 2000ms, 3500ms;
  -o-animation-delay: 0s, 2000ms, 3500ms;
  animation-delay: 0s, 2000ms, 3500ms;
  -webkit-animation-duration: 2000ms, 300ms, 500ms;
  -moz-animation-duration: 2000ms, 300ms, 500ms;
  -o-animation-duration: 2000ms, 300ms, 500ms;
  animation-duration: 2000ms, 300ms, 500ms;
  -webkit-animation-iteration-count: 1, 5, 1;
  -moz-animation-iteration-count: 1, 5, 1;
  -o-animation-iteration-count: 1, 5, 1;
  animation-iteration-count: 1, 5, 1;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  /* easeInOutExpo */
}
div.wheel.spin .center:after {
  visibility: hidden;
}
div.wheel .frame {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  padding: 14px;
}
div.wheel .frame ul.circle {
  position: relative;
  padding: 50%;
  max-width: 0;
  max-height: 0;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  list-style: none;
  background: yellow;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
}
div.wheel .frame ul.circle .slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border: 1px solid yellow;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
div.wheel .frame ul.circle .slice label {
  display: block;
  width: 200%;
  height: 200%;
  box-shadow: 0 0 .1em black;
  line-height: 1.9em;
  text-align: center;
  text-decoration: none;
  max-width: 200%;
}
div.wheel .frame ul.circle .slice label span {
  display: block;
  text-transform: uppercase;
  line-height: 0.9em;
  color: #333;
}
div.wheel .frame ul.circle .slice label span:first-child {
  padding-top: 5px;
}
div.wheel .frame ul.circle .slice label.word-4 span:nth-child(1) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-4 span:nth-child(2) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-4 span:nth-child(3) {
  font-size: 38px;
}
div.wheel .frame ul.circle .slice label.word-4 span:nth-child(4) {
  font-size: 34px;
}
div.wheel .frame ul.circle .slice label.word-5 span:nth-child(1) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-5 span:nth-child(2) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-5 span:nth-child(3) {
  font-size: 38px;
}
div.wheel .frame ul.circle .slice label.word-5 span:nth-child(4) {
  font-size: 34px;
}
div.wheel .frame ul.circle .slice label.word-5 span:nth-child(5) {
  font-size: 28px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(1) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(2) {
  font-size: 40px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(3) {
  font-size: 38px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(4) {
  font-size: 34px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(5) {
  font-size: 28px;
}
div.wheel .frame ul.circle .slice label.word-6 span:nth-child(6) {
  font-size: 20px;
}
div.wheel .frame ul.circle .slice:nth-child(1) {
  -webkit-transform: rotate(22.5deg) skewX(75deg);
  -moz-transform: rotate(22.5deg) skewX(75deg);
  -o-transform: rotate(22.5deg) skewX(75deg);
  -ms-transform: rotate(22.5deg) skewX(75deg);
  transform: rotate(22.5deg) skewX(75deg);
  background-color: #9798a1;
}
div.wheel .frame ul.circle .slice:nth-child(1) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(2) {
  -webkit-transform: rotate(37.5deg) skewX(75deg);
  -moz-transform: rotate(37.5deg) skewX(75deg);
  -o-transform: rotate(37.5deg) skewX(75deg);
  -ms-transform: rotate(37.5deg) skewX(75deg);
  transform: rotate(37.5deg) skewX(75deg);
  background-color: #d6fcd2;
}
div.wheel .frame ul.circle .slice:nth-child(2) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(3) {
  -webkit-transform: rotate(52.5deg) skewX(75deg);
  -moz-transform: rotate(52.5deg) skewX(75deg);
  -o-transform: rotate(52.5deg) skewX(75deg);
  -ms-transform: rotate(52.5deg) skewX(75deg);
  transform: rotate(52.5deg) skewX(75deg);
  background-color: #da67d0;
}
div.wheel .frame ul.circle .slice:nth-child(3) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(4) {
  -webkit-transform: rotate(67.5deg) skewX(75deg);
  -moz-transform: rotate(67.5deg) skewX(75deg);
  -o-transform: rotate(67.5deg) skewX(75deg);
  -ms-transform: rotate(67.5deg) skewX(75deg);
  transform: rotate(67.5deg) skewX(75deg);
  background-color: #dd8858;
}
div.wheel .frame ul.circle .slice:nth-child(4) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(5) {
  -webkit-transform: rotate(82.5deg) skewX(75deg);
  -moz-transform: rotate(82.5deg) skewX(75deg);
  -o-transform: rotate(82.5deg) skewX(75deg);
  -ms-transform: rotate(82.5deg) skewX(75deg);
  transform: rotate(82.5deg) skewX(75deg);
  background-color: #4954ac;
}
div.wheel .frame ul.circle .slice:nth-child(5) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(6) {
  -webkit-transform: rotate(97.5deg) skewX(75deg);
  -moz-transform: rotate(97.5deg) skewX(75deg);
  -o-transform: rotate(97.5deg) skewX(75deg);
  -ms-transform: rotate(97.5deg) skewX(75deg);
  transform: rotate(97.5deg) skewX(75deg);
  background-color: #d545b7;
}
div.wheel .frame ul.circle .slice:nth-child(6) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(7) {
  -webkit-transform: rotate(112.5deg) skewX(75deg);
  -moz-transform: rotate(112.5deg) skewX(75deg);
  -o-transform: rotate(112.5deg) skewX(75deg);
  -ms-transform: rotate(112.5deg) skewX(75deg);
  transform: rotate(112.5deg) skewX(75deg);
  background-color: #38a5ce;
}
div.wheel .frame ul.circle .slice:nth-child(7) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(8) {
  -webkit-transform: rotate(127.5deg) skewX(75deg);
  -moz-transform: rotate(127.5deg) skewX(75deg);
  -o-transform: rotate(127.5deg) skewX(75deg);
  -ms-transform: rotate(127.5deg) skewX(75deg);
  transform: rotate(127.5deg) skewX(75deg);
  background-color: #c23562;
}
div.wheel .frame ul.circle .slice:nth-child(8) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(9) {
  -webkit-transform: rotate(142.5deg) skewX(75deg);
  -moz-transform: rotate(142.5deg) skewX(75deg);
  -o-transform: rotate(142.5deg) skewX(75deg);
  -ms-transform: rotate(142.5deg) skewX(75deg);
  transform: rotate(142.5deg) skewX(75deg);
  background-color: #e38aa1;
}
div.wheel .frame ul.circle .slice:nth-child(9) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(10) {
  -webkit-transform: rotate(157.5deg) skewX(75deg);
  -moz-transform: rotate(157.5deg) skewX(75deg);
  -o-transform: rotate(157.5deg) skewX(75deg);
  -ms-transform: rotate(157.5deg) skewX(75deg);
  transform: rotate(157.5deg) skewX(75deg);
  background-color: #88e84c;
}
div.wheel .frame ul.circle .slice:nth-child(10) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(11) {
  -webkit-transform: rotate(172.5deg) skewX(75deg);
  -moz-transform: rotate(172.5deg) skewX(75deg);
  -o-transform: rotate(172.5deg) skewX(75deg);
  -ms-transform: rotate(172.5deg) skewX(75deg);
  transform: rotate(172.5deg) skewX(75deg);
  background-color: #e4dcfe;
}
div.wheel .frame ul.circle .slice:nth-child(11) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(12) {
  -webkit-transform: rotate(187.5deg) skewX(75deg);
  -moz-transform: rotate(187.5deg) skewX(75deg);
  -o-transform: rotate(187.5deg) skewX(75deg);
  -ms-transform: rotate(187.5deg) skewX(75deg);
  transform: rotate(187.5deg) skewX(75deg);
  background-color: #bdbbb4;
}
div.wheel .frame ul.circle .slice:nth-child(12) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(13) {
  -webkit-transform: rotate(202.5deg) skewX(75deg);
  -moz-transform: rotate(202.5deg) skewX(75deg);
  -o-transform: rotate(202.5deg) skewX(75deg);
  -ms-transform: rotate(202.5deg) skewX(75deg);
  transform: rotate(202.5deg) skewX(75deg);
  background-color: #64724c;
}
div.wheel .frame ul.circle .slice:nth-child(13) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(14) {
  -webkit-transform: rotate(217.5deg) skewX(75deg);
  -moz-transform: rotate(217.5deg) skewX(75deg);
  -o-transform: rotate(217.5deg) skewX(75deg);
  -ms-transform: rotate(217.5deg) skewX(75deg);
  transform: rotate(217.5deg) skewX(75deg);
  background-color: #5ba86c;
}
div.wheel .frame ul.circle .slice:nth-child(14) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(15) {
  -webkit-transform: rotate(232.5deg) skewX(75deg);
  -moz-transform: rotate(232.5deg) skewX(75deg);
  -o-transform: rotate(232.5deg) skewX(75deg);
  -ms-transform: rotate(232.5deg) skewX(75deg);
  transform: rotate(232.5deg) skewX(75deg);
  background-color: #d58952;
}
div.wheel .frame ul.circle .slice:nth-child(15) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(16) {
  -webkit-transform: rotate(247.5deg) skewX(75deg);
  -moz-transform: rotate(247.5deg) skewX(75deg);
  -o-transform: rotate(247.5deg) skewX(75deg);
  -ms-transform: rotate(247.5deg) skewX(75deg);
  transform: rotate(247.5deg) skewX(75deg);
  background-color: #914ab6;
}
div.wheel .frame ul.circle .slice:nth-child(16) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(17) {
  -webkit-transform: rotate(262.5deg) skewX(75deg);
  -moz-transform: rotate(262.5deg) skewX(75deg);
  -o-transform: rotate(262.5deg) skewX(75deg);
  -ms-transform: rotate(262.5deg) skewX(75deg);
  transform: rotate(262.5deg) skewX(75deg);
  background-color: #5f6abf;
}
div.wheel .frame ul.circle .slice:nth-child(17) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(18) {
  -webkit-transform: rotate(277.5deg) skewX(75deg);
  -moz-transform: rotate(277.5deg) skewX(75deg);
  -o-transform: rotate(277.5deg) skewX(75deg);
  -ms-transform: rotate(277.5deg) skewX(75deg);
  transform: rotate(277.5deg) skewX(75deg);
  background-color: #726277;
}
div.wheel .frame ul.circle .slice:nth-child(18) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(19) {
  -webkit-transform: rotate(292.5deg) skewX(75deg);
  -moz-transform: rotate(292.5deg) skewX(75deg);
  -o-transform: rotate(292.5deg) skewX(75deg);
  -ms-transform: rotate(292.5deg) skewX(75deg);
  transform: rotate(292.5deg) skewX(75deg);
  background-color: #f553a6;
}
div.wheel .frame ul.circle .slice:nth-child(19) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(20) {
  -webkit-transform: rotate(307.5deg) skewX(75deg);
  -moz-transform: rotate(307.5deg) skewX(75deg);
  -o-transform: rotate(307.5deg) skewX(75deg);
  -ms-transform: rotate(307.5deg) skewX(75deg);
  transform: rotate(307.5deg) skewX(75deg);
  background-color: #fe6d4f;
}
div.wheel .frame ul.circle .slice:nth-child(20) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(21) {
  -webkit-transform: rotate(322.5deg) skewX(75deg);
  -moz-transform: rotate(322.5deg) skewX(75deg);
  -o-transform: rotate(322.5deg) skewX(75deg);
  -ms-transform: rotate(322.5deg) skewX(75deg);
  transform: rotate(322.5deg) skewX(75deg);
  background-color: #e08bee;
}
div.wheel .frame ul.circle .slice:nth-child(21) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(22) {
  -webkit-transform: rotate(337.5deg) skewX(75deg);
  -moz-transform: rotate(337.5deg) skewX(75deg);
  -o-transform: rotate(337.5deg) skewX(75deg);
  -ms-transform: rotate(337.5deg) skewX(75deg);
  transform: rotate(337.5deg) skewX(75deg);
  background-color: #73c391;
}
div.wheel .frame ul.circle .slice:nth-child(22) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(23) {
  -webkit-transform: rotate(352.5deg) skewX(75deg);
  -moz-transform: rotate(352.5deg) skewX(75deg);
  -o-transform: rotate(352.5deg) skewX(75deg);
  -ms-transform: rotate(352.5deg) skewX(75deg);
  transform: rotate(352.5deg) skewX(75deg);
  background-color: #81e689;
}
div.wheel .frame ul.circle .slice:nth-child(23) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle .slice:nth-child(24) {
  -webkit-transform: rotate(367.5deg) skewX(75deg);
  -moz-transform: rotate(367.5deg) skewX(75deg);
  -o-transform: rotate(367.5deg) skewX(75deg);
  -ms-transform: rotate(367.5deg) skewX(75deg);
  transform: rotate(367.5deg) skewX(75deg);
  background-color: #9ebf78;
}
div.wheel .frame ul.circle .slice:nth-child(24) label {
  -webkit-transform: skew(-75deg) rotate(-82.5deg);
  -moz-transform: skew(-75deg) rotate(-82.5deg);
  -o-transform: skew(-75deg) rotate(-82.5deg);
  -ms-transform: skew(-75deg) rotate(-82.5deg);
  transform: skew(-75deg) rotate(-82.5deg);
}
div.wheel .frame ul.circle li.center {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 37.5%;
  top: 37.5%;
  background: #333;
  border-radius: 50%;
}
div.wheel .frame ul.circle li.center:after {
  content: "Click to spin";
  color: white;
  font-size: 26px;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
div.wheel .frame .pegs {
  position: absolute;
  padding: 256px;
  margin: 0;
  top: 14px;
  left: 14px;
}
div.wheel .frame .pegs .peg {
  height: 0;
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  list-style: none;
}
div.wheel .frame .pegs .peg:before {
  content: "";
  background: #777;
  position: absolute;
  top: -12px;
  left: -12px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
}
div.wheel .frame .pegs .peg:nth-child(1) {
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  -o-transform: rotate(6.5deg);
  -ms-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
}
div.wheel .frame .pegs .peg:nth-child(2) {
  -webkit-transform: rotate(11.499999999999998deg);
  -moz-transform: rotate(11.499999999999998deg);
  -o-transform: rotate(11.499999999999998deg);
  -ms-transform: rotate(11.499999999999998deg);
  transform: rotate(11.499999999999998deg);
}
div.wheel .frame .pegs .peg:nth-child(3) {
  -webkit-transform: rotate(16.5deg);
  -moz-transform: rotate(16.5deg);
  -o-transform: rotate(16.5deg);
  -ms-transform: rotate(16.5deg);
  transform: rotate(16.5deg);
}
div.wheel .frame .pegs .peg:nth-child(4) {
  -webkit-transform: rotate(21.5deg);
  -moz-transform: rotate(21.5deg);
  -o-transform: rotate(21.5deg);
  -ms-transform: rotate(21.5deg);
  transform: rotate(21.5deg);
}
div.wheel .frame .pegs .peg:nth-child(5) {
  -webkit-transform: rotate(26.5deg);
  -moz-transform: rotate(26.5deg);
  -o-transform: rotate(26.5deg);
  -ms-transform: rotate(26.5deg);
  transform: rotate(26.5deg);
}
div.wheel .frame .pegs .peg:nth-child(6) {
  -webkit-transform: rotate(31.5deg);
  -moz-transform: rotate(31.5deg);
  -o-transform: rotate(31.5deg);
  -ms-transform: rotate(31.5deg);
  transform: rotate(31.5deg);
}
div.wheel .frame .pegs .peg:nth-child(7) {
  -webkit-transform: rotate(36.5deg);
  -moz-transform: rotate(36.5deg);
  -o-transform: rotate(36.5deg);
  -ms-transform: rotate(36.5deg);
  transform: rotate(36.5deg);
}
div.wheel .frame .pegs .peg:nth-child(8) {
  -webkit-transform: rotate(41.50000000000001deg);
  -moz-transform: rotate(41.50000000000001deg);
  -o-transform: rotate(41.50000000000001deg);
  -ms-transform: rotate(41.50000000000001deg);
  transform: rotate(41.50000000000001deg);
}
div.wheel .frame .pegs .peg:nth-child(9) {
  -webkit-transform: rotate(46.50000000000001deg);
  -moz-transform: rotate(46.50000000000001deg);
  -o-transform: rotate(46.50000000000001deg);
  -ms-transform: rotate(46.50000000000001deg);
  transform: rotate(46.50000000000001deg);
}
div.wheel .frame .pegs .peg:nth-child(10) {
  -webkit-transform: rotate(51.50000000000001deg);
  -moz-transform: rotate(51.50000000000001deg);
  -o-transform: rotate(51.50000000000001deg);
  -ms-transform: rotate(51.50000000000001deg);
  transform: rotate(51.50000000000001deg);
}
div.wheel .frame .pegs .peg:nth-child(11) {
  -webkit-transform: rotate(56.50000000000001deg);
  -moz-transform: rotate(56.50000000000001deg);
  -o-transform: rotate(56.50000000000001deg);
  -ms-transform: rotate(56.50000000000001deg);
  transform: rotate(56.50000000000001deg);
}
div.wheel .frame .pegs .peg:nth-child(12) {
  -webkit-transform: rotate(61.5deg);
  -moz-transform: rotate(61.5deg);
  -o-transform: rotate(61.5deg);
  -ms-transform: rotate(61.5deg);
  transform: rotate(61.5deg);
}
div.wheel .frame .pegs .peg:nth-child(13) {
  -webkit-transform: rotate(66.5deg);
  -moz-transform: rotate(66.5deg);
  -o-transform: rotate(66.5deg);
  -ms-transform: rotate(66.5deg);
  transform: rotate(66.5deg);
}
div.wheel .frame .pegs .peg:nth-child(14) {
  -webkit-transform: rotate(71.5deg);
  -moz-transform: rotate(71.5deg);
  -o-transform: rotate(71.5deg);
  -ms-transform: rotate(71.5deg);
  transform: rotate(71.5deg);
}
div.wheel .frame .pegs .peg:nth-child(15) {
  -webkit-transform: rotate(76.5deg);
  -moz-transform: rotate(76.5deg);
  -o-transform: rotate(76.5deg);
  -ms-transform: rotate(76.5deg);
  transform: rotate(76.5deg);
}
div.wheel .frame .pegs .peg:nth-child(16) {
  -webkit-transform: rotate(81.5deg);
  -moz-transform: rotate(81.5deg);
  -o-transform: rotate(81.5deg);
  -ms-transform: rotate(81.5deg);
  transform: rotate(81.5deg);
}
div.wheel .frame .pegs .peg:nth-child(17) {
  -webkit-transform: rotate(86.5deg);
  -moz-transform: rotate(86.5deg);
  -o-transform: rotate(86.5deg);
  -ms-transform: rotate(86.5deg);
  transform: rotate(86.5deg);
}
div.wheel .frame .pegs .peg:nth-child(18) {
  -webkit-transform: rotate(91.5deg);
  -moz-transform: rotate(91.5deg);
  -o-transform: rotate(91.5deg);
  -ms-transform: rotate(91.5deg);
  transform: rotate(91.5deg);
}
div.wheel .frame .pegs .peg:nth-child(19) {
  -webkit-transform: rotate(96.5deg);
  -moz-transform: rotate(96.5deg);
  -o-transform: rotate(96.5deg);
  -ms-transform: rotate(96.5deg);
  transform: rotate(96.5deg);
}
div.wheel .frame .pegs .peg:nth-child(20) {
  -webkit-transform: rotate(101.5deg);
  -moz-transform: rotate(101.5deg);
  -o-transform: rotate(101.5deg);
  -ms-transform: rotate(101.5deg);
  transform: rotate(101.5deg);
}
div.wheel .frame .pegs .peg:nth-child(21) {
  -webkit-transform: rotate(106.5deg);
  -moz-transform: rotate(106.5deg);
  -o-transform: rotate(106.5deg);
  -ms-transform: rotate(106.5deg);
  transform: rotate(106.5deg);
}
div.wheel .frame .pegs .peg:nth-child(22) {
  -webkit-transform: rotate(111.5deg);
  -moz-transform: rotate(111.5deg);
  -o-transform: rotate(111.5deg);
  -ms-transform: rotate(111.5deg);
  transform: rotate(111.5deg);
}
div.wheel .frame .pegs .peg:nth-child(23) {
  -webkit-transform: rotate(116.5deg);
  -moz-transform: rotate(116.5deg);
  -o-transform: rotate(116.5deg);
  -ms-transform: rotate(116.5deg);
  transform: rotate(116.5deg);
}
div.wheel .frame .pegs .peg:nth-child(24) {
  -webkit-transform: rotate(121.5deg);
  -moz-transform: rotate(121.5deg);
  -o-transform: rotate(121.5deg);
  -ms-transform: rotate(121.5deg);
  transform: rotate(121.5deg);
}
div.wheel .frame .pegs .peg:nth-child(25) {
  -webkit-transform: rotate(126.5deg);
  -moz-transform: rotate(126.5deg);
  -o-transform: rotate(126.5deg);
  -ms-transform: rotate(126.5deg);
  transform: rotate(126.5deg);
}
div.wheel .frame .pegs .peg:nth-child(26) {
  -webkit-transform: rotate(131.5deg);
  -moz-transform: rotate(131.5deg);
  -o-transform: rotate(131.5deg);
  -ms-transform: rotate(131.5deg);
  transform: rotate(131.5deg);
}
div.wheel .frame .pegs .peg:nth-child(27) {
  -webkit-transform: rotate(136.5deg);
  -moz-transform: rotate(136.5deg);
  -o-transform: rotate(136.5deg);
  -ms-transform: rotate(136.5deg);
  transform: rotate(136.5deg);
}
div.wheel .frame .pegs .peg:nth-child(28) {
  -webkit-transform: rotate(141.5deg);
  -moz-transform: rotate(141.5deg);
  -o-transform: rotate(141.5deg);
  -ms-transform: rotate(141.5deg);
  transform: rotate(141.5deg);
}
div.wheel .frame .pegs .peg:nth-child(29) {
  -webkit-transform: rotate(146.5deg);
  -moz-transform: rotate(146.5deg);
  -o-transform: rotate(146.5deg);
  -ms-transform: rotate(146.5deg);
  transform: rotate(146.5deg);
}
div.wheel .frame .pegs .peg:nth-child(30) {
  -webkit-transform: rotate(151.5deg);
  -moz-transform: rotate(151.5deg);
  -o-transform: rotate(151.5deg);
  -ms-transform: rotate(151.5deg);
  transform: rotate(151.5deg);
}
div.wheel .frame .pegs .peg:nth-child(31) {
  -webkit-transform: rotate(156.5deg);
  -moz-transform: rotate(156.5deg);
  -o-transform: rotate(156.5deg);
  -ms-transform: rotate(156.5deg);
  transform: rotate(156.5deg);
}
div.wheel .frame .pegs .peg:nth-child(32) {
  -webkit-transform: rotate(161.49999999999997deg);
  -moz-transform: rotate(161.49999999999997deg);
  -o-transform: rotate(161.49999999999997deg);
  -ms-transform: rotate(161.49999999999997deg);
  transform: rotate(161.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(33) {
  -webkit-transform: rotate(166.49999999999997deg);
  -moz-transform: rotate(166.49999999999997deg);
  -o-transform: rotate(166.49999999999997deg);
  -ms-transform: rotate(166.49999999999997deg);
  transform: rotate(166.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(34) {
  -webkit-transform: rotate(171.49999999999997deg);
  -moz-transform: rotate(171.49999999999997deg);
  -o-transform: rotate(171.49999999999997deg);
  -ms-transform: rotate(171.49999999999997deg);
  transform: rotate(171.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(35) {
  -webkit-transform: rotate(176.49999999999997deg);
  -moz-transform: rotate(176.49999999999997deg);
  -o-transform: rotate(176.49999999999997deg);
  -ms-transform: rotate(176.49999999999997deg);
  transform: rotate(176.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(36) {
  -webkit-transform: rotate(181.49999999999997deg);
  -moz-transform: rotate(181.49999999999997deg);
  -o-transform: rotate(181.49999999999997deg);
  -ms-transform: rotate(181.49999999999997deg);
  transform: rotate(181.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(37) {
  -webkit-transform: rotate(186.49999999999997deg);
  -moz-transform: rotate(186.49999999999997deg);
  -o-transform: rotate(186.49999999999997deg);
  -ms-transform: rotate(186.49999999999997deg);
  transform: rotate(186.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(38) {
  -webkit-transform: rotate(191.49999999999997deg);
  -moz-transform: rotate(191.49999999999997deg);
  -o-transform: rotate(191.49999999999997deg);
  -ms-transform: rotate(191.49999999999997deg);
  transform: rotate(191.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(39) {
  -webkit-transform: rotate(196.49999999999997deg);
  -moz-transform: rotate(196.49999999999997deg);
  -o-transform: rotate(196.49999999999997deg);
  -ms-transform: rotate(196.49999999999997deg);
  transform: rotate(196.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(40) {
  -webkit-transform: rotate(201.49999999999997deg);
  -moz-transform: rotate(201.49999999999997deg);
  -o-transform: rotate(201.49999999999997deg);
  -ms-transform: rotate(201.49999999999997deg);
  transform: rotate(201.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(41) {
  -webkit-transform: rotate(206.49999999999997deg);
  -moz-transform: rotate(206.49999999999997deg);
  -o-transform: rotate(206.49999999999997deg);
  -ms-transform: rotate(206.49999999999997deg);
  transform: rotate(206.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(42) {
  -webkit-transform: rotate(211.49999999999997deg);
  -moz-transform: rotate(211.49999999999997deg);
  -o-transform: rotate(211.49999999999997deg);
  -ms-transform: rotate(211.49999999999997deg);
  transform: rotate(211.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(43) {
  -webkit-transform: rotate(216.49999999999997deg);
  -moz-transform: rotate(216.49999999999997deg);
  -o-transform: rotate(216.49999999999997deg);
  -ms-transform: rotate(216.49999999999997deg);
  transform: rotate(216.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(44) {
  -webkit-transform: rotate(221.49999999999997deg);
  -moz-transform: rotate(221.49999999999997deg);
  -o-transform: rotate(221.49999999999997deg);
  -ms-transform: rotate(221.49999999999997deg);
  transform: rotate(221.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(45) {
  -webkit-transform: rotate(226.49999999999997deg);
  -moz-transform: rotate(226.49999999999997deg);
  -o-transform: rotate(226.49999999999997deg);
  -ms-transform: rotate(226.49999999999997deg);
  transform: rotate(226.49999999999997deg);
}
div.wheel .frame .pegs .peg:nth-child(46) {
  -webkit-transform: rotate(231.5deg);
  -moz-transform: rotate(231.5deg);
  -o-transform: rotate(231.5deg);
  -ms-transform: rotate(231.5deg);
  transform: rotate(231.5deg);
}
div.wheel .frame .pegs .peg:nth-child(47) {
  -webkit-transform: rotate(236.5deg);
  -moz-transform: rotate(236.5deg);
  -o-transform: rotate(236.5deg);
  -ms-transform: rotate(236.5deg);
  transform: rotate(236.5deg);
}
div.wheel .frame .pegs .peg:nth-child(48) {
  -webkit-transform: rotate(241.5deg);
  -moz-transform: rotate(241.5deg);
  -o-transform: rotate(241.5deg);
  -ms-transform: rotate(241.5deg);
  transform: rotate(241.5deg);
}
div.wheel .frame .pegs .peg:nth-child(49) {
  -webkit-transform: rotate(246.5deg);
  -moz-transform: rotate(246.5deg);
  -o-transform: rotate(246.5deg);
  -ms-transform: rotate(246.5deg);
  transform: rotate(246.5deg);
}
div.wheel .frame .pegs .peg:nth-child(50) {
  -webkit-transform: rotate(251.5deg);
  -moz-transform: rotate(251.5deg);
  -o-transform: rotate(251.5deg);
  -ms-transform: rotate(251.5deg);
  transform: rotate(251.5deg);
}
div.wheel .frame .pegs .peg:nth-child(51) {
  -webkit-transform: rotate(256.5deg);
  -moz-transform: rotate(256.5deg);
  -o-transform: rotate(256.5deg);
  -ms-transform: rotate(256.5deg);
  transform: rotate(256.5deg);
}
div.wheel .frame .pegs .peg:nth-child(52) {
  -webkit-transform: rotate(261.5deg);
  -moz-transform: rotate(261.5deg);
  -o-transform: rotate(261.5deg);
  -ms-transform: rotate(261.5deg);
  transform: rotate(261.5deg);
}
div.wheel .frame .pegs .peg:nth-child(53) {
  -webkit-transform: rotate(266.5deg);
  -moz-transform: rotate(266.5deg);
  -o-transform: rotate(266.5deg);
  -ms-transform: rotate(266.5deg);
  transform: rotate(266.5deg);
}
div.wheel .frame .pegs .peg:nth-child(54) {
  -webkit-transform: rotate(271.5deg);
  -moz-transform: rotate(271.5deg);
  -o-transform: rotate(271.5deg);
  -ms-transform: rotate(271.5deg);
  transform: rotate(271.5deg);
}
div.wheel .frame .pegs .peg:nth-child(55) {
  -webkit-transform: rotate(276.5deg);
  -moz-transform: rotate(276.5deg);
  -o-transform: rotate(276.5deg);
  -ms-transform: rotate(276.5deg);
  transform: rotate(276.5deg);
}
div.wheel .frame .pegs .peg:nth-child(56) {
  -webkit-transform: rotate(281.5deg);
  -moz-transform: rotate(281.5deg);
  -o-transform: rotate(281.5deg);
  -ms-transform: rotate(281.5deg);
  transform: rotate(281.5deg);
}
div.wheel .frame .pegs .peg:nth-child(57) {
  -webkit-transform: rotate(286.5deg);
  -moz-transform: rotate(286.5deg);
  -o-transform: rotate(286.5deg);
  -ms-transform: rotate(286.5deg);
  transform: rotate(286.5deg);
}
div.wheel .frame .pegs .peg:nth-child(58) {
  -webkit-transform: rotate(291.5deg);
  -moz-transform: rotate(291.5deg);
  -o-transform: rotate(291.5deg);
  -ms-transform: rotate(291.5deg);
  transform: rotate(291.5deg);
}
div.wheel .frame .pegs .peg:nth-child(59) {
  -webkit-transform: rotate(296.5deg);
  -moz-transform: rotate(296.5deg);
  -o-transform: rotate(296.5deg);
  -ms-transform: rotate(296.5deg);
  transform: rotate(296.5deg);
}
div.wheel .frame .pegs .peg:nth-child(60) {
  -webkit-transform: rotate(301.5deg);
  -moz-transform: rotate(301.5deg);
  -o-transform: rotate(301.5deg);
  -ms-transform: rotate(301.5deg);
  transform: rotate(301.5deg);
}
div.wheel .frame .pegs .peg:nth-child(61) {
  -webkit-transform: rotate(306.5deg);
  -moz-transform: rotate(306.5deg);
  -o-transform: rotate(306.5deg);
  -ms-transform: rotate(306.5deg);
  transform: rotate(306.5deg);
}
div.wheel .frame .pegs .peg:nth-child(62) {
  -webkit-transform: rotate(311.5deg);
  -moz-transform: rotate(311.5deg);
  -o-transform: rotate(311.5deg);
  -ms-transform: rotate(311.5deg);
  transform: rotate(311.5deg);
}
div.wheel .frame .pegs .peg:nth-child(63) {
  -webkit-transform: rotate(316.5deg);
  -moz-transform: rotate(316.5deg);
  -o-transform: rotate(316.5deg);
  -ms-transform: rotate(316.5deg);
  transform: rotate(316.5deg);
}
div.wheel .frame .pegs .peg:nth-child(64) {
  -webkit-transform: rotate(321.5deg);
  -moz-transform: rotate(321.5deg);
  -o-transform: rotate(321.5deg);
  -ms-transform: rotate(321.5deg);
  transform: rotate(321.5deg);
}
div.wheel .frame .pegs .peg:nth-child(65) {
  -webkit-transform: rotate(326.5deg);
  -moz-transform: rotate(326.5deg);
  -o-transform: rotate(326.5deg);
  -ms-transform: rotate(326.5deg);
  transform: rotate(326.5deg);
}
div.wheel .frame .pegs .peg:nth-child(66) {
  -webkit-transform: rotate(331.5deg);
  -moz-transform: rotate(331.5deg);
  -o-transform: rotate(331.5deg);
  -ms-transform: rotate(331.5deg);
  transform: rotate(331.5deg);
}
div.wheel .frame .pegs .peg:nth-child(67) {
  -webkit-transform: rotate(336.5deg);
  -moz-transform: rotate(336.5deg);
  -o-transform: rotate(336.5deg);
  -ms-transform: rotate(336.5deg);
  transform: rotate(336.5deg);
}
div.wheel .frame .pegs .peg:nth-child(68) {
  -webkit-transform: rotate(341.5deg);
  -moz-transform: rotate(341.5deg);
  -o-transform: rotate(341.5deg);
  -ms-transform: rotate(341.5deg);
  transform: rotate(341.5deg);
}
div.wheel .frame .pegs .peg:nth-child(69) {
  -webkit-transform: rotate(346.5deg);
  -moz-transform: rotate(346.5deg);
  -o-transform: rotate(346.5deg);
  -ms-transform: rotate(346.5deg);
  transform: rotate(346.5deg);
}
div.wheel .frame .pegs .peg:nth-child(70) {
  -webkit-transform: rotate(351.5deg);
  -moz-transform: rotate(351.5deg);
  -o-transform: rotate(351.5deg);
  -ms-transform: rotate(351.5deg);
  transform: rotate(351.5deg);
}
div.wheel .frame .pegs .peg:nth-child(71) {
  -webkit-transform: rotate(356.5deg);
  -moz-transform: rotate(356.5deg);
  -o-transform: rotate(356.5deg);
  -ms-transform: rotate(356.5deg);
  transform: rotate(356.5deg);
}
div.wheel .frame .pegs .peg:nth-child(72) {
  -webkit-transform: rotate(361.5deg);
  -moz-transform: rotate(361.5deg);
  -o-transform: rotate(361.5deg);
  -ms-transform: rotate(361.5deg);
  transform: rotate(361.5deg);
}
div.wheel .pointer {
  position: absolute;
  top: 0;
  left: calc(50% - 5px);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 5px 0 5px;
  border-color: #777 transparent transparent transparent;
}
div.wheel .pointer:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -30px;
  background: #777;
  left: -5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
